<table class="table">
    <tbody>
        <tr>
            <th scope="row">ログインID</th>
            <td><%=@login%></td>
        </tr>
        <tr>
            <th scope="row">パスワード</th>
            <td><%=@password%></td>
        </tr>
    </tbody>
</table>
<%= link_to '戻る', staffs_path, class: 'btn' %>
