.clear {
  clear: both;
}

abbr {
  color: red;
}

#customer_index {
  p {
    font-size: 30px;
    text-align: center;
  }
  .upper-frame {
    width: 100%;
    h4 {
      padding-left: 20px;
    }
    .condition-section {
      text-align: center;
      float: left;
      width: 60%;
      th {
        width: 20%;
      }
      td {
        width: 80%;
      }
    }

    .button-section {
      text-align: center;
      float: left;
      width: 40%;
      .btn {
        display: block;
        width: 200px;
        margin: auto;
      }
      .btn-new {
        margin-bottom: 10px;
      }
    }
    margin-bottom: 10px;
  }
  .lower-frame {
    font-size: 15px;
  }
  .lower-frame .table .thead-light .address {
    width: 240px;
  }
}

.lower-reservation-title {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.customer-reservations-details {
  #reservation-list {
    table {
      display: block;
      position: relative;
      height: calc(75vh);
      border-collapse: collapse;
      overflow: scroll;
      z-index: 10;
      margin-top: 5px;
      margin-bottom: 5px;
      border: 1px solid #e4e4e4;
    }
    table thead.thead-light tr th {
      position: sticky;
      top: 0px;
      z-index: 2;
    }
  }
}
.form-wrapper {
  .form-center .collection_radio_buttons {
    margin: 0;
  }

  .form-center label {
    text-align: left;
  }

  .form-center label {
    text-align: left;
  }
  .form-center .btn {
    width: 90px;
  }
}
