.clear {
  clear: both;
}

#customer_index {
  p {
    font-size: 30px;
    text-align: center;
  }
  .upper-frame {
    width: 100%;
    h4 {
      padding-left: 20px;
    }
    .condition-section {
      text-align: center;
      float: left;
      width: 60%;
      th {
        width: 20%;
      }
      td {
        width: 80%;
      }
    }

    .button-section {
      text-align: center;
      float: left;
      width: 40%;
      .btn {
        display: block;
        width: 200px;
        margin: auto;
      }
      .btn-new {
        margin-bottom: 10px;
      }
    }
    margin-bottom: 10px;
  }
}

.form-wrapper {
  .form-center .collection_radio_buttons {
    margin: 0;
  }

  .form-center label {
    text-align: left;
  }

  .form-center label {
    text-align: left;
  }
  .form-center .btn {
    width: 90px;
  }
}
