// Place all the styles related to the observations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#observation_form {
  .form-wrapper {
    .form-center {
      .btn {
        width: auto;
        margin-left: 30px;
      }
    }

    // 横向きのiPad用
    // ひとまずobservation用にしているが、他の画面で展開する場合は#observation_formのスコープから外す
    @media (orientation: landscape) and (max-width: 1024px) {
      font-size: 1.2rem;
      line-height: 1rem;
    }
  }
}
