// Place all the styles related to the shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$headerColor: #e9ecef;
$tdOddColor: #e0e8f0;
$weekendSaturdayColor: #d1d6ff;
$weekendSundayColor: #fdd0d0;
$cellWidth: 7rem;
$borderColor: black;

// ---検索欄部分---
.shift-list .field select {
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 3px;
  min-height: 2rem;
}
.shift-list div.field select {
  vertical-align: middle;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 3px;
}
.shift-list .actions {
  margin-top: 3px;
  margin-bottom: 3px;
}
.shift-list form select {
  border: 1px solid lightgray;
  height: 3.5vh;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 0px;
}
.shift-list input[type="submit"] {
  border: none;
  background: #17a2b8;
  cursor: pointer;
  border-radius: 0.25rem;
  color: white;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  width: 112px;
  &:hover {
    background: #0e606e;
  }
}
// --------------
.shift-list p {
  font-size: 1rem;
}

.shift-list table {
  display: block;
  position: relative;
  width: calc(100vw - 3rem);
  height: calc(75vh);
  border-collapse: collapse;
  overflow: scroll;
  z-index: 10;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid $borderColor;
}
.shift-list .shift_table {
  width: fit-content;

  thead {
    th {
      white-space: nowrap;
      background-color: $headerColor;
      border-right: 2px solid $borderColor;
      width: $cellWidth;
      font-size: 0.9rem;
      text-align: center;
      padding-right: 8px;
      padding-left: 8px;

      // 行の固定(縦スクロール時)
      position: sticky;
      top: 0px;
      z-index: 2;

      &:last-child {
        border: none;
      }
    }

    // 行と列の交差部分
    .th-corner {
      position: sticky;
      top: 0px;
      left: 0px;
      z-index: 5;
    }
  }

  tbody {
    .td-checkbox {
      white-space: nowrap;
      width: $cellWidth;
      font-size: 0.9rem;
      text-align: center;
      border-right: 2px solid $borderColor;
    }

    .td-checkbox-disabled {
      pointer-events : none;
    }

    // 一行ごとに色を付ける
    tr:nth-child(odd) {
      background: $tdOddColor;
      border: none;
    }

    tr {
      // 列の固定(横スクロール時)
      td:first-of-type {
        display: inline-block;
        background-color: $headerColor;
        font-weight: bold;
        position: sticky;
        left: 0px;
        width: $cellWidth + 1.5rem;
        font-size: 0.9rem;
        text-align: left;
        padding-left: 12px;
        border-right: 1px solid $borderColor;
      }
    }

    tr.day-saturday {
      background-color: $weekendSaturdayColor;

      td:first-of-type {
        background-color: $weekendSaturdayColor;
      }
    }

    tr.day-sunday {
      background-color: $weekendSundayColor;

      td:first-of-type {
        background-color: $weekendSundayColor;
      }
    }
  }  
}

#new_shift {
  .field {
    margin: 1rem 1rem 1.5rem;
    display: flex;
    flex-flow: column;
  }

  .actions {
    margin: 1rem;
    display: flex;
    flex-flow: column;

    input {
      max-width: 6rem;
    }

    span {
      font-size: 0.8rem;
      margin-top: 0.5rem;
    }
  }
}
