<%= render 'customers/snippet', { customer: customer, form: form } %>

<div class="custom_row row">
  <div class="custom_left col-sm-3">
    <label>顧客電話番号</label>
  </div>
  <div class="custom_right col-sm-9">
    <% if customer.present? %>
      <%= form.input(
        :customer_full_name,
        label: false,
        readonly: true,
        input_html: { value: "#{customer.tel}" }
      ) %>
    <% end %>
  </div>
</div>