packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/config/app-logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/app/containerfiles/logs/production.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/containerfiles/logs/production.log"]]}`
      log_stream_name = {instance_id}
      file = /var/app/containerfiles/logs/production.log

      [/var/app/containerfiles/logs/cron.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/containerfiles/logs/cron.log"]]}`
      log_stream_name = {instance_id}
      file = /var/app/containerfiles/logs/cron.log

commands:
  "01":
    command: sudo chkconfig awslogs on
  "02":
    command: sudo service awslogs restart