<% breadcrumb :root %>
<div id="customer_duplicate_index">
  <p class="common_title">重複顧客一覧</p>
  
  <div class="pl-2 mt-3">
    <% if @duplicated_customer_groups.present? %>
      <h5>合計件数：<%= @duplicated_customer_page.total_count %>件</h5>
    <% end %>
  </div>
  <div class="lower-frame">
    <% if @duplicated_customer_groups.blank? %>
      <p>該当データがありません</p>
    <% else %>
      <% @duplicated_customer_groups.each do |customer_group| %>
        <%= duplicated_customer_views(customer_group[:customers], customer_group[:count]) %>

        <%= render 'customers/table', {customers: customer_group[:customers]} %>
        <% if Customers::DuplicateController::MAX_DISPLAYED_CUSTOMERS_COUNT < customer_group[:count] %>
          <p>重複データが多いため表示し切れませんでした。</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= paginate @duplicated_customer_page if @duplicated_customer_groups.present? %>
  <br>
  <br>
</div>
