.download {
  .loading-btn {
    position: relative;
    .spinner {
      color: #28a745;
      position: absolute;
      top: 50%;
      left: 50%;
      marginTop: -12;
      marginLeft: -12;
    }
  }
}