.download {
  .loading-btn {
    position: relative;
    .spinner {
      color: #28a745;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
    }
  }
}